/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #134ec3;
  --ifm-color-primary-dark: #1146af;
  --ifm-color-primary-darker: #1042a6;
  --ifm-color-primary-darkest: #0d3789;
  --ifm-color-primary-light: #1556d6;
  --ifm-color-primary-lighter: #165ae0;
  --ifm-color-primary-lightest: #2c6cea;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b8cfff;
  --ifm-color-primary-dark: #8cb1ff;
  --ifm-color-primary-darker: #76a2ff;
  --ifm-color-primary-darkest: #3476ff;
  --ifm-color-primary-light: #e4edff;
  --ifm-color-primary-lighter: #fafcff;
  --ifm-color-primary-lightest: #ffffff;
}

styles.buttons {
  background-image: "/static/img/photos/DSCF7284.png"
}

.hero--primary {
  background-image: url(/img/photos/IMG_20220608_220429_396.png);
}

.button {
  margin: 0 15px;
}

.button--lg {
  --ifm-button-size-multiplier: 1.2;
}